<!DOCTYPE html>
<html>
    <body>
        <form action="#"> <!--insert link to file that will add new note to database-->
            <textarea rows="1" cols="100" style="resize:none;" name="title">Untitled</textarea> <br>
            <textarea rows="100" cols="100" style="resize:none;" name="usrnote">
            </textarea>
            <input type="submit" value="Save"> 
        </form>
        <a href="#"><p>Delete note</p></a> <!--insert link to file that will remove note from database-->
    </body>
</html>