<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noter</title>
    <link rel="stylesheet" href="../static/styles/sidebar.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="../static/images/file-earmark-plus.svg" alt="add_file_icon"> 
        <img src="../static/images/folder-plus.svg" alt="add_folder_icon">
        <h5>Username's Noter: </h2>
        <a href="#">Note 1</a>
        <a href="#">Note 2</a>
        <a href="#">Note 3</a>
        <div class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
              Project 131
            </button>
            <div class="collapse" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Note_131_1</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Note_131_2</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Note_131_3</a></li>
              </ul>
            </div>
        </div>

        <hr>
       
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
              </ul>
            </div>
        
      </div>
      
      
      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; </button>
        <div class="main-container">
            <h2>No file is open</h2>
            <a href="#"><p>Create new file</p></a>
            <a href="#"><p>Create new folder</p></a>
        </div>
        
    </div>

    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
        </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
